#makeagames {
	position: relative;
}
#makeagames > .mag-slice {
	position: absolute;
	display: inline-block;
	/*-webkit-background-size: cover;
	background-size: cover;*/
	/* -webkit-transition: top,right,bottom,left .2s ease-in;
	-o-transition: top,right,bottom,left .2s ease-in;
	transition: top,right,bottom,left .2s ease-in; */
	transition-property: top,right,bottom,left;
	-webkit-transition-property: top,right,bottom,left;
	-o-transition-property: top,right,bottom,left;
	transition-duration: .2s;
	-webkit-transition-duration: .2s;
	-o-transition-duration: .2s;
	transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	/*transition-delay: 1s;*/
}

.mag-slice:not(.mag-bg)
{
	/*border: 0;*/
	background-color: #BCBCBC;
}
