#makeagames {
	position: relative;
}
#makeagames > .mag-slice {
	position: absolute;
	display: inline-block;
	transition-property: top,right,bottom,left;
	-webkit-transition-property: top,right,bottom,left;
	-o-transition-property: top,right,bottom,left;
	transition-duration: .2s;
	-webkit-transition-duration: .2s;
	-o-transition-duration: .2s;
	transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
}

.mag-slice:not(.mag-bg)
{
	background-color: #BCBCBC;
}
